$color: green;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    // background-color: $color;
    font-family: 'Montserrat', sans-serif;
}

.menu-logo {
    position: absolute;
    width: 24px;
    top: 20px;
    right: 20px;
}
.bold {
    font-weight: 700;
}
// FIRST VIEW
.first-view {
    width: 100%;
    min-height: 100%;
    background-image: url(../img/signin_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}

.first-view__logo {
    width: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.first-view__logo2 {
    width: 223px;
    margin-top: 67px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.first-view__btn1 {
    width: 200px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    &:hover {
        cursor: pointer;
    }
}
.first-view__btn2 {
    width: 150px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    &:hover {
        cursor: pointer;
    }
}

.first-view__icons {
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

// SECOND VIEW

.second-view {
    width: 100%;
    min-height: 100%;
    padding-top: 20px;
    background-image: url(../img/second-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    &__title {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
    &__hello {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        &--box {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            margin-top: 100px;
        }
        &--profile {
            display: block;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            top: -60px;
        }
    }
    &__wrap {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        border-radius: 24px;
        margin-top: 16px;
        padding-top: 30px;
        padding-bottom: 16px;
        text-align: center;
        color: #FFFFFF;
        background-color: #008BD2;
    }
    &__p {
        font-size: 18px;
        padding-bottom: 16px;
        margin-bottom: 16px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid #00ACEE;
    }
    &__price {
        font-weight: 900;
        font-size: 24px;
        letter-spacing: 3px;
    }
    &__won {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
        &--title {
            color: #393939;
            font-weight: 700;
            font-size: 12px;
            margin-bottom: 16px;
        }
        &--flex {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
        }
        &--date {
          font-weight: 400;
          font-size: 12px;  
        }
        &--cash {
            text-align: right;
            font-size: 12px;
            color: #FFFFFF;
            font-weight: 700;
        }
    
    }
    &__btn {
        display: block;
        width: 96px;
        margin-left: auto;
        margin-right: auto;
    }
     
}

.third-view {
    background-color: rgba(57, 57, 57, 0.7);
    width: 100%;
    min-height: 100%;
    padding-top: 20px;
    &__title {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
    &__box {
        background-color: #FFFFFF;
        border-radius: 24px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 80px;
        margin-top: 80px;
        padding-bottom: 30px;
        position: relative;
        padding-right: 12px;
        padding-left: 12px;
    }
    &__logo {
        width: 130px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -40px;
    }
    &__close {
        width: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    &__chance {
        color: #153D8A;
        text-align: center;
        font-weight: 700;
        font-size: 18px;
    }
    &__text {
        font-size: 12px;
        font-weight: 400;
        color: #393939;
        &--2 {
            margin-top: 26px;
        }
    }
    &__price {
        color: #153D8A;
        font-weight: 700;
        font-size: 12px;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    &__line {
        height: 1px;
        background-color: #F6881F;
        margin-top: 10px;
    }
    &__btn {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: -50px;
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

.compass {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 130px;
    animation: rotating 1s infinite;
}

// FOURTH VIEW

.fourth-view {
    position: relative;
    min-height: 100%;
    background-color: #ddd;
    &__title {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translate(-50%);
        

    }
    &__btn {
        // width: 70%;
        width: 130px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 60px;
    }
    &__box {
        position: absolute;
        width: 90%;
        left: 50%;
        transform: translate(-50%);
        bottom: 200px;
        background-image: linear-gradient(to bottom, #F6881F, #FFDD00);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 24px;
        padding: 30px 10px;
    }
    &__text {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }
    &__win {
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        color: #FFFFFF;
    }
    &__line {
        background-color: #F6881F;
        height: 1px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &__chance {
        position: absolute;
        left: 50%;
        top: 65px;
        transform: translate(-50%);
        background-color: #FFFFFF;
        width: 75%;
        border-radius: 24px;
        color: #393939;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        padding: 14px 0;
    }
}